body, html { 
    width: 100%;
    height: 100%;
    margin: 0;
}

#map { 
    width: 100%;
    height: 100%;
}

.marker {
background-image: url('/Data/Images/musical-note.png');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
width: 50%;
position: absolute;
/*width: 1000px;
height: 2000px*/
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color : transparent;
}
/*
.iframe {
    width=720px;
    height=500px;
    top=0;
    left=0;
}*/

.media_cover {
    background: rgba(255, 255, 255, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1000 !important;
}

.close_button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10000 !important
}
}